<!DOCTYPE html>
<html>
<head>
<title>{% block page_title %}{% endblock %} | Riverflow API</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <i class="fa fa-angle-double-right"></i> Riverflow API
    </a>
</nav>
    <ol class="breadcrumb">
        {% block breadcrumb %}{% endblock %}
    </ol>

<div class="row justify-content-center" style="margin-top: 25px">
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary text-light">
                <h3>{% block h1 %}{% endblock %}</h3>
            </div>
            <div class="card-body">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
