{% extends "flowing/api/base.html" %}

{% block page_title %}{{ api_view_class }} Detail{% endblock %}

{% block breadcrumb %}
<a href="{% url 'flowing_api_v1_endpoints' %}" class="breadcrumb-item">Endpoints</a>
<a href="{% url api_view_class.get_endpoint_name %}?html" class="breadcrumb-item">{{ api_view_class }} List</a>
<a href="{% url api_view_class.get_endpoint_name data.id %}?html" class="breadcrumb-item active">{{ api_view_class }} Detail</a>
{% endblock %}

{% block h1 %}{{ api_view_class }} Detail{% endblock %}


{% block body %}
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        {% include "flowing/api/object.html" with obj=data api_view_class=api_view_class %}
    </li>
</ul>
{% endblock %}
