{% extends "flowing/api/base.html" %}

{% block page_title %}Endpoints{% endblock %}

{% block breadcrumb %}
<a href="{% url 'flowing_api_v1_endpoints' %}" class="breadcrumb-item active">Endpoints</a>
{% endblock %}


{% block h1 %}Endpoints{% endblock %}


{% block body %}
<ul class="list-group list-group-flush">
    {% for endpoint in endpoints %}
    <a class="list-group-item list-group-item-action" href="{{ endpoint.url }}?html">
        {{ endpoint.nice_name }}
    </a>
    {% endfor %}
</ul>
{% endblock %}
