{% extends "flowing/api/base.html" %}

{% block page_title %}{{ api_view_class }} List{% endblock %}

{% block breadcrumb %}
<a href="{% url 'flowing_api_v1_endpoints' %}" class="breadcrumb-item">Endpoints</a>
<a href="{% url api_view_class.get_endpoint_name %}?html" class="breadcrumb-item active">{{ api_view_class }} List</a>
{% endblock %}

{% block h1 %}{{ api_view_class }} List{% endblock %}


{% block body %}
<ul class="list-group list-group-flush">
    {% for obj in data %}
    <li class="list-group-item">
        {% include "flowing/api/object.html" with obj=obj %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
