{% load dicts %}
<div class="card">
    <div class="card-header bg-secondary text-light">
        <div class="row">
            <div class="ml-2 mr-auto">{{ obj }}</div>
            <div class="btn-group">
                <a class="btn btn-sm btn-dark" href="{% url api_view_class.get_endpoint_name obj.id %}?html"><small>HTML</small></a>
                <a class="btn btn-sm btn-dark" href="{% url api_view_class.get_endpoint_name obj.id %}"><small>JSON</small></a>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        {% for field, value in obj.to_dict.items %}
        <li class="list-group-item list-group-item-action">
            <small><strong>{{ field | nice_word }}</strong>: {{ value }}</small>
        </li>
        {% endfor %}
    </ul>
</div>
