<template>
<div class="d-flex">
    <aside class="flow col-2">
        <router-link to="/">
            <div class="logo">
                <i class="fa fa-angle-double-right"></i>
            </div>
            <h1><span v-html="page.h1"></span></h1>
        </router-link>
    </aside>
    <main class="flow col-10">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="mr-auto">
                <router-link to="/" class="navbar-brand" v-html="page.h2"></router-link>
            </div>
            <div v-if="user.auth" class="btn-group">
                <dropdown>
                    <div slot="trigger" class="lead px-2">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div slot="items">
                        <a href="#" class="dropdown-item small">New River</a>
                        <a href="#" class="dropdown-item small">New Item</a>
                    </div>
                </dropdown>
                <dropdown>
                    <div slot="trigger" class="lead px-2">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div slot="items">
                        <router-link to="/" class="dropdown-item small">{{ user.username }}</router-link>
                        <a href="/api/v1/endpoints" target="blank" class="dropdown-item small">API</a>
                        <router-link to="/" class="dropdown-item small">Settings</router-link>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item small" @click="logout">Logout</a>
                    </div>
                </dropdown>
            </div>
        </nav>
        <div class="flow page-content">
            <transition name="fade" tag="div" class="router-view-container">
                <router-view :key="$route.params.id"></router-view>
            </transition>
        </div>
        <footer class="flow">
            Riverflow Version {{ system.FLOW_VERSION }}.{{ system.BUILD_NUMBER }} - Full code available at <a href="https://github.com/jbitshine/riverflow" target="_blank">https://github.com/jbitshine/riverflow</a>
        </footer>
    </main>
    </div>
</template>

<script>
import Dropdown from "./bootstrap/Dropdown.vue";
export default {
    components: {
        dropdown: Dropdown,
    },
    methods: {
        logout: function() {
            const endpoint = this.endpoint("LOGOUT");
            this.request(endpoint, {
                method: "GET",
                preset: "json",
            })
            .then((data) => {
                if(!data.login) {
                    this.$store.commit("auth", false);
                    this.$router.push({ name: "unlogged" });
                }
            })
            .catch((error) => {

            });
        }
    },
    computed: {
        user: function() {
            return this.$store.state.user;
        },
        page: function() {
            return this.$store.state.page;
        },
        system: function() {
            return window.system;
        }
    }
};
</script>
