<template>
<div class="row" style="flex-grow: 1">
    <div class="col-4 d-flex">
        <div class="card" style="flex-grow: 1">
            <div class="card-header">
                <div class="row">
                    <div class="mr-auto ml-2">Rivers</div>
                    <button class="btn btn-sm btn-outline-dark mr-2" @click="dialogs.river = true"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <router-link v-for="river in rivers" :to="{ name: 'river', params: { id: river.id } }" class="list-group-item list-group-item-action">
                    <small>{{ river.name }}</small>
                </router-link>
            </ul>
        </div>
    </div>
    <div class="col-4 d-flex">
        <div class="card" style="flex-grow: 1">
            <div class="card-header">
                <div class="row">
                    <div class="mr-auto ml-2">Structures</div>
                    <router-link :to="{ name: 'structure' }">
                        <button class="btn btn-sm btn-outline-dark mr-2"><i class="fa fa-plus"></i></button>
                    </router-link>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <router-link v-for="structure in structures" :to="{ name: 'structure', params: { id: structure.id } }" class="list-group-item list-group-item-action">
                    <small>{{ structure.name }}</small>
                </router-link>
            </ul>
        </div>
    </div>
    <div class="col-4 d-flex">
        <div class="card" style="flex-grow: 1">
            <div class="card-header">
                <div class="row">
                    <div class="mr-auto ml-2">Categories</div>
                    <button class="btn btn-sm btn-outline-dark mr-2" @click="dialogs.category = true"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li v-for="category in categories" class="list-group-item list-group-item-action">
                    <small>{{ category.name }}</small>
                </li>
            </ul>
        </div>
    </div>
    <autoform name="RIVER" :show.sync="dialogs.river" v-on:form-submit="refresh"></autoform>
    <autoform name="FLOW_CATEGORY" :show.sync="dialogs.category" v-on:form-submit="refresh"></autoform>
</div>
</template>

<script>
import AutoForm from "./components/AutoForm.vue";
import Modal from "./bootstrap/Modal.vue";
export default {
    data: function() {
        return {
            categories: [],
            rivers: [],
            structures: [],
            dialogs: {
                river: false,
                category: false,
            }
        }
    },
    mounted: function() {
        this.refresh();
    },
    methods: {
        refresh: function() {
            this.getData(["flow_category", "river", "river_path"])
            .then((data) => {
                this.categories = data.flow_category;
                this.rivers = data.river;
                this.structures = data.river_path;
            });
        }
    },
    components: {
        autoform: AutoForm,
        modal: Modal,
    }
}
</script>
