<template>
<div>
</div>
</template>

<script>
export default {
    mounted: function() {
        if(user.auth) {
            this.$router.push({ name: "home" });
        } else {
            this.$router.push({ name: "unlogged" });
        }
    },
    computed: {
        user: function() {
            return this.$store.state.user;
        }
    }
}
</script>
