<template>
<div>
    <div class="btn-group mb-3">
        <button class="btn btn-primary" @click="dialogs.stream = true">Add a stream</button>
        <button class="btn btn-primary" @click="dialogs.target = true">Add a target</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>Target</td>
                <td v-for="stepId in structure.steps">{{ steps[stepId].name }}</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="target in targets">
                <td>{{ target.name }}</td>
                <td v-for="stepId in structure.steps">
                    <span v-for="stream in matrix[target.id][stepId]" class="btn btn-sm btn-info">{{ stream.name }}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <autoform name="FLOW_STREAM" :show.sync="dialogs.stream" v-on:form-submit="refresh"></autoform>
    <autoform name="FLOW_TARGET" :show.sync="dialogs.target" v-on:form-submit="refresh"></autoform>
</div>
</template>

<script>
import AutoForm from "./components/AutoForm.vue";
export default {
    components: {
        autoform: AutoForm,
    },
    data: function() {
        return {
            river: {},
            streamTypes: [],
            streams: [],
            targets: [],
            structure: {},
            steps: [],
            dialogs: {
                stream: false,
                target: false,
            }
        }
    },
    mounted: function() {
        this.refresh();
    },
    methods: {
        refresh: function() {
            const id = this.$route.params.id;
            const endpoint = this.endpoint("RIVER") + "/" + id;
            const config = {};
            config.method = "GET";
            config.body = {
                "full": 1,
            }

            this.request(endpoint, config)
            .then((data) => {
                this.river = data.river;
                this.streamTypes = data.flow_streams;
                this.targets = data.flow_targets;
                this.stepsArray = data.structure.all_steps;
                this.streams = data.flow_streams;
                this.structure = data.structure.river_path;
                var steps = {};
                for(var i = 0; i < data.structure.all_steps.length; i++) {
                    var step = data.structure.all_steps[i];
                    steps[step.id] = step;
                }
                this.steps = steps;
            });
        },
    },
    computed: {
        matrix: function() {
            var matrix = {};
            for(var i = 0; i < this.targets.length; i++) {
                matrix[this.targets[i].id] = {};
                for(var j = 0; j < this.stepsArray.length; j++) {
                    matrix[this.targets[i].id][this.stepsArray[j].id] = [];
                }
            }
            console.log(this.targets, this.steps);
            for(var i = 0; i < this.streams.length; i++) {
                var stream = this.streams[i];
                console.log(stream.target_id, stream.state_id);
                console.log(matrix)
                matrix[stream.target_id][stream.state_id].push(stream);
            }
            return matrix;
        }
    }
}
</script>
