<template>
<div>
    <div class="btn-group ml-2 mb-2">
        <button class="btn btn-outline-success" @click="saveStructure">Save</button>
        <button class="btn btn-outline-danger" @click="deleteStructure">Delete</button>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div v-if="!editingName" class="card-header d-flex">
                    <div class="mr-auto">{{ this.structure.name || "New structure" }}</div>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-dark" @click="editingName = true"><i class="fa fa-edit"></i></button>
                    </div>
                </div>
                <div v-else class="card-header d-flex">
                    <div class="col-10 mr-auto"><input type="text" class="form-control form-control-sm" v-model="structure.name" /></div>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-dark" @click="editingName = false"><i class="fa fa-check"></i></button>
                    </div>                    
                </div>
                <ul class="list-group list-group-flush">
                    <li v-for="step_id in structure.steps" class="list-group-item list-group-item-action d-flex">
                        <div class="mr-auto">
                            <small>{{ steps[step_id].name }}</small>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-sm btn-outline-dark"><i class="fa fa-arrow-up"></i></button>
                            <button class="btn btn-sm btn-outline-dark"><i class="fa fa-arrow-down"></i></button>
                            <button class="btn btn-sm btn-outline-dark" @click="removeStep(step_id)"><i class="fa fa-arrow-right"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Available steps</div>
                <ul class="list-group list-group-flush">
                    <li v-for="step in steps" v-if="structure.steps.indexOf(step.id) === -1" class="list-group-item list-group-item-action d-flex">
                        <div class="btn-group mr-auto">
                            <button class="btn btn-sm btn-outline-dark" @click="addStep(step.id)"><i class="fa fa-arrow-left"></i></button>
                            <button class="btn btn-sm btn-outline-dark"><i class="fa fa-arrow-up"></i></button>
                            <button class="btn btn-sm btn-outline-dark"><i class="fa fa-arrow-down"></i></button>
                        </div>
                        <div>
                            <small>{{ step.name }}</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data: function() {
        return {
            editingName: false,
            structure: {
                steps: [],
            },
            steps: [],
        }
    },
    mounted: function() {
        const id = parseInt(this.$route.params.id);
        if(id) {
            this.refresh(id);
        } else {
            this.loadSteps();
        }
    },
    methods: {
        loadSteps: function() {
            const endpoint = this.endpoint("FLOW_STEP");
            const config = {
                method: "GET",
            }
            this.request(endpoint, config)
            .then((data) => {
                var steps = {};
                for(var i = 0; i < data.objects.length; i++) {
                    var step = data.objects[i];
                    steps[step.id] = step;
                }
                this.steps = steps;
            });
        },
        refresh: function(id) {
            const endpoint = this.endpoint("RIVER_PATH") + "/" + id;
            const config = {
                method: "GET",
                body: {
                    "full": 1,
                }
            }
            this.request(endpoint, config)
            .then((data) => {
                this.structure = data.river_path;
                var steps = {};
                for(var i = 0; i < data.all_steps.length; i++) {
                    var step = data.all_steps[i];
                    steps[step.id] = step;
                }
                this.steps = steps;
            });
        },
        addStep(stepId) {
            this.structure.steps.push(stepId);
        },
        removeStep(stepId) {
            var index = this.structure.steps.indexOf(stepId);
            if(index > -1) {
                this.structure.steps.splice(index, 1);
            }
        },
        saveStructure: function() {
            const id = parseInt(this.$route.params.id);
            var endpoint = this.endpoint("RIVER_PATH");
            var config = {
                preset: "json",
                body: this.structure,
            };

            if(id) {
                endpoint += "/" + id;
                config.method = "POST";
            } else {
                config.method = "PUT";
            }

            this.request(endpoint, config)
            .then((data) => {
                if(!id) {
                    this.$router.push({ 
                        name: "structure", 
                        params: { id: data.id }
                    });
                }
            });
        },
        deleteStructure: function() {
            const id = parseInt(this.$route.params.id);
            var endpoint = this.endpoint("RIVER_PATH") + "/" + id;
            var config = {
                method: "DELETE",
            }

            this.request(endpoint, config)
            .then((data) => {
                this.$router.push({
                    name: "home",
                });
            });
        }
    }
}
</script>
