<template>
<div class="unlogged-main bg-dark row no-gutters">
    <div class="col-6 text-white">Kanban description</div>
    <div class="col-6 card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item pointer">
                    <a :class="'nav-link ' + (this.mode === 'register' ? 'active' : '')" @click="setMode('register')">Join us</a>
                </li>
                <li class="nav-item pointer">
                    <a :class="'nav-link ' + (this.mode === 'login' ? 'active' : '')" @click="setMode('login')">Login</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="form-group form-control-lg">
                <label>Email</label>
                <input type="text" class="form-control" v-model="email" />
            </div>
            <div class="form-group form-control-lg">
                <label>Password</label>
                <input type="password" class="form-control" v-model="password" />
            </div>
            <div class="form-group form-control-lg">
                <button v-if="mode === 'register'" class="btn btn-outline-primary" @click="register">Register</button>
                <button v-else class="btn btn-outline-primary" @click="login">Flow in</button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data: function() {
        return {
            mode: "register",
            email: "",
            password: "",
        }
    },
    mounted: function() {
        if(this.$store.state.user.auth) {
            this.$router.push({ name: "home" });
        }
    },
    methods: {
        setMode: function(mode) {
            this.mode = mode;
        },
        register: function() {
            const endpoint = this.endpoint("REGISTER");
            const body = {
                email: this.email,
                password: this.password,
            }
            this.request(endpoint, {
                method: "POST",
                preset: "json",
                body: body,
            })
            .then((data) => {
                if(data.login) {
                    this.$store.commit("auth", true);
                    this.$store.commit("updateUser", data.user);
                    this.$router.push({ name: "home" });
                }
            });
        },
        login: function() {
            const endpoint = this.endpoint("LOGIN");
            const body = {
                email: this.email,
                password: this.password,
            }
            this.request(endpoint, {
                method: "POST",
                preset: "json",
                body: body,
            })
            .then((data) => {
                if(data.login) {
                    this.$store.commit("auth", true);
                    this.$store.commit("updateUser", data.user);
                    this.$router.push({ name: "home" });
                }
            });
        },
    },
}
</script>
