<template>
<div>
    <modal title="Create" :show.sync="show">
        <div slot="modal-body">
            <div v-for="field in form" class="form-group">
                <label>{{ field.nice_name }}</label>
                <input v-model="field.value" v-if="field.widget === 'char'" type="text" class="form-control" />
                <input v-model="field.value" v-if="field.widget === 'boolean'" type="checkbox" class="form-control" />
                <textarea v-model="field.value" v-if="field.widget === 'text'" class="form-control"></textarea>
                <select v-model="field.value" v-if="field.widget === 'select'" :multiple="field.multiple" class="form-control">
                    <option v-for="option in field.options" :value="option.id">{{ option.name }}</option>
                </select>
            </div>    
        </div>
        <div slot="modal-footer">
            <button class="btn btn-outline-danger" @click="close">Cancel</button>
            <button class="btn btn-outline-primary" @click="save">Save</button>
        </div>
    </modal>
</div>
</template>

<script>
import Modal from "../bootstrap/Modal.vue";
export default {
    components: {
        "modal": Modal,
    },
    props: ["name", "show", "id"],
    data: function() {
        return {
            form: {},
        }
    },
    mounted: function() {
        this.getForm(this.name)
        .then((data) => {
            console.log(this.name, data);
            this.form = data;
        });
    },
    methods: {
        close: function() {
            this.$emit("update:show", false);
        },
        save: function() {
            var endpoint = this.endpoint(this.name);
            var config = {};
            config.body = {};
            for(var fieldName in this.form) {
                var field = this.form[fieldName]
                config.body[fieldName] = field.value;
            }
            config.method = "PUT";
            config.preset = "json";
            if(this.id) {
                config.method = "POST";
                endpoint += "/" + this.id;
            }
            this.request(endpoint, config)
            .then((data) => {
                this.$emit("form-submit", data);
                this.close();
            });
        }
    }
}
</script>
