
body {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

.pointer {
    cursor: pointer;
}

#riverflow-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

aside.flow {
    flex-grow: 1;
    background-color: #102835;
}

aside.flow div.logo {
    padding-top: 15px;
    text-align: center;
    font-size: 8rem;
    line-height: 0;
}

aside.flow h1 {
    text-align: center;
}

a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: steelblue;
}

main.flow {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ececec;
    color: #464646;
    background-color: #ececec;
}

header.flow h2 {
    text-align: center;
}

div.flow.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

div.flow.page-content .router-view {
    flex-grow: 1;
}

footer.flow {
    font-size: 11px;
}

.no-focus {
    outline: none !important;
    box-shadow: none !important;
}

.trans-bg {
    transition: background 0.6s;
}

.mar5 {
    margin: 5px;
}

.text-center {
    text-align: center;
}



.unlogged-main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 15px;
}

.unlogged-about {
    flex-grow: 1;
}

.login-card {
    flex-grow: 1;
}



/* Transitions */
.router-view-container {
    diplay: flex;
    flex-grow: 1;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
    display: none;
}

