<template>
<div class="vue-dropdown">
    <div v-if="active" class="overlay" @click="show(false)"></div>
    <div class="vue-dropdown-main">
        <div @click="show(true)" ref="trigger">
            <slot name="trigger"></slot>
        </div>
        <div :class="'dropdown-menu ' + (active ? 'show' : '')" :style="transform" @click="show(false)">
            <slot name="items"></slot>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data: function() {
        return {
            active: false,
            offset: {
                x: 0, y: 0, z: 0,
            }
        }
    },
    methods: {
        show: function(state) {
            if(state) {
                this.offset.x = `calc(-100% + ${this.$refs.trigger.offsetWidth}px)`;
                this.offset.y = 5 + this.$refs.trigger.offsetHeight + "px";
                this.offset.z = 0;
                this.active = true;
            } else {
                this.offset.x = 0;
                this.offset.y = 0;
                this.offset.z = 0;
                this.active = false;
            }
        }
    },
    computed: {
        transform: function() {
            return `transform: translate3d(${this.offset.x}, ${this.offset.y}, ${this.offset.z})`;
        }
    }
}
</script>

<style>
.vue-dropdown {
    user-select: none;
}
.vue-dropdown .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    left: 0;
    top: 0;
}
.vue-dropdown .vue-dropdown-main {
    position: relative;
    cursor: pointer;
}
.vue-dropdown .dropdown-menu {
    position: absolute;
    will-change: transform;
    z-index: 1002;
    top: 0px;
    left: 0px;
}
</style>
