<template>
<div class="modal vue-modal" :style="_style" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 v-if="title" class="modal-title">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="forceState(false)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <slot name="modal-body"></slot>
            </div>
            <div class="modal-footer">
                <slot name="modal-footer"></slot>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: ["show", "title", "lock"],
    mounted: function() {
        if(this.show === undefined) {
            throw Error("Please define the prop sync 'show'.");
        }
    },
    methods: {
        forceState: function(state) {
            this.$emit("update:show", state);
        }
    },
    computed: {
        _style: function() {
            if(this.show) {
                return `
                    opacity: 1;
                    transform: translate(-50%, -50%);
                    pointer-events: all;
                `;
            } else {
                return ``;
            }
        }
    }
}
</script>

<style>
.vue-modal {
    display: block;
    top: 50%;
    left: 50%;
    height: 100%;
    opacity: 0;
    transform: translate(-50%, -200%);
    transition: all 1s;
    pointer-events: none;
}
</style>
