{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block head_page_title %}{{ page_title }}{% endblock %} | Riverflow</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
<link rel="stylesheet" href="/static/flowing/css/flow.css?v={{ VERSION }}.{{ BUILD_NUMBER }}" />

{% block css %}{% endblock %}

</head>
<body>

{% block page %}
{% endblock %}

<script>
window.user = {};
{% if request.user.is_authenticated %}
window.user.id = {{ request.user.id }};
window.user.auth = true;
window.user.username = "{{ request.user.username }}";
window.user.firstName = "{{ request.user.first_name }}";
window.user.lastName = "{{ request.user.last_name }}";
window.user.email = "{{ request.user.email }}";
{% else %}
window.user.id = 0;
window.user.auth = false;
window.user.username = "";
window.user.firstName = "";
window.user.lastName = "";
window.user.email = "";
{% endif %};
window.user.profileState = {{ request.profile.state }};
window.system = {};
window.system.DEBUG = {{ DEBUG | yesno:"true, false" }};
window.system.CSRF_TOKEN = "{{ csrf_token }}";
window.system.FLOW_VERSION = "{{ VERSION }}";
window.system.BUILD_NUMBER = "{{ BUILD_NUMBER }}";
window.ENDPOINTS = {};
window.ENDPOINTS.LOGIN = "{% url 'flowing_api_v1_users_login' %}";
window.ENDPOINTS.LOGOUT = "{% url 'flowing_api_v1_users_logout' %}";
window.ENDPOINTS.REGISTER = "{% url 'flowing_api_v1_users_register' %}";
window.ENDPOINTS.USER_DATA = "{% url 'flowing_api_v1_users_data' %}";
{% for endpoint in private_endpoints %}
window.ENDPOINTS.{{ endpoint.name }} = "{{ endpoint.url }}";
{% endfor %}
</script>

{% block inline_js_before %}
{% endblock %}

{% block js %}
{% endblock %}

{% block inline_js_after %}
{% endblock %}

</body>
</html>
