{% extends "flowing/base.html" %}
{% load static %}

{% block head_page_title %}
Kanban
{% endblock %}

{% block page %}
<app id="riverflow-root"></app>
{% endblock %}

{% block inline_js_before %}
{% endblock %}

{% block js %}
<script src="{% static 'flowing/js/build/flow.js' %}?v={{ VERSION }}.{{ BUILD_NUMBER }}"></script>
{% endblock %}
